opam-version: "2.0"
variables {
  native: true
  native-tools: true
  native-dynlink: true
  stubsdir:
    "/Users/majda/Desktop/projet-pf-5-2425-mushtaq-benmalek/_opam/lib/ocaml/stublibs:/Users/majda/Desktop/projet-pf-5-2425-mushtaq-benmalek/_opam/lib/ocaml"
  preinstalled: false
  compiler: "4.14.1"
}
